    <main>
        <section class="home-section1">
            <h1 style="text-align: center;">Seja bem-vindo!</h1>

            <p>Explore nossa plataforma e dê início a sua experiência</p>

            <a href="">Explorar</a>
        </section>

    </main>

    <!-- Meramene ilustrativo, apenas para ter algo enquanto a lading page não esta completa-->