@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Cocomat Pro Regular';
    src: url('../fonts/Cocomat.Pro/CocomatPro-Regular.ttf');
    }

@font-face {
    font-family: 'Cocomat Pro Bold';
    src: url('../fonts/Cocomat.Pro/CocomatPro-Bold.ttf');
    }

*{
    margin: 0;
    padding: 0%;
    list-style: none;
    font-family: 'Nunito';
    text-decoration: none;
    color: black;
}

body{
    height: 200vh;
    width: 100%;
    background-color: #f2f5f5;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-perfil{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-image: linear-gradient(to right, #e3b055, #f4863e, #f86d68);
    padding: 0 30px;
    box-shadow: 0 8px 20px rgb(197, 197, 197);
    
}

.nav-title{
    line-height: 50px;
    font-family: 'Cocomat Pro Bold';
    font-size: 15pt;
    color: white;
}

.nav-elements{
    display: flex;
    gap: 10px;
    line-height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    padding: 20px 10px;
    min-width: 170px;
    height: 190px;
    right: -56%;
    z-index: 1;

}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

.navbar ul li{
    color: white;
    font: 'Open Sans';
    
}

.seach-bar{
    width: 200px;
    height: 10px;
    border: none;
    border-radius: 10px;
    /* acertar animação para abrir a barra de pesquisa. */
}

.container-title{
    font-family: 'Cocomat Pro Bold';
    font-size: 30pt;
}

.button{
    width: 80px;
    padding: 0.5rem 1.2rem;
    font-size: 17px;
    border-radius: 10px;
    color: whitesmoke;
    border: none;
    font-family: 'Nunito';
    background-color: #f4863e;
    text-align: center;
}

.flex{
    display: flex;
}

.home-image{
    width: 500px;
    height: auto;
}

.icon-profile{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f7f1f1;
    border: 1px solid #cdcccc;
    top: 75px;
    left: 85px;
}

.info-perfil{
    width: 100%;
    height: 50px;
    background-color: #f7f1f1;
    border-top: 1px solid #cdcccc;
}

.perfil-containt{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    box-shadow: 0 5px 15px 1px rgb(215, 215, 215)
}

.header-perfil{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #f2f2f2 #d3d3d3);
}

.itens-salvos{
    width: 300px;
    height: 350px;
    background-color: #ffff;
    border: 1px solid #cdcccc;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px rgb(215, 215, 215)
}

.title-itens{
    width: 100%;
    border-bottom: 1px solid #cdcccc;
}

.title-itens h4{
    padding: 1rem;
    color: #708372;
    font-size: 15pt;
}

.elementos-salvos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
    
}

.item-colecao{
    display: flex;
    width: 100%;
    height: 40px;
    margin-left: 1.5rem;
    gap: 10px;
}

.item-colecao p{
    line-height: 40px;
    font-weight: bold;
}


.icon-colecao{
    width: 40px;
    height: 40px;
    background-color: #f4863e;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    line-height: 40px;
}

.menu-perfil{
    width: 80%;
    height: 40px;
    background-color: white;
    border: 1px solid #cdcccc;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 10px 1px rgb(215, 215, 215)
}

.option-menu{
    font-family: 'Open Sans';
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #2c2f2c;

}

.op-menu-active{
    border-bottom: 2px solid #f4863e;
}

.feed-profile{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.postagens{
    width: 72%;
    min-height: 200px;
    max-height: 550px;
    background-color: white;
    border: 1px solid #cdcccc;
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 3px 10px 1px rgb(215, 215, 215);
}

.autor-post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.autor{
    color: #f25662;
    font-family: 'Nunito';
    font-weight: bold;
}

.horario{
    color: #708372 ;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 9pt;
}

.options-post{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #a6a6a6;
    font-size: 15pt;
}

.corpo-post{
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.corpo-post p{
    font-family: 'Nunito';
    font-weight: bold;
    color: #2c2f2c;
}

.reactions-post{
    border-top: 3px solid #f2f5f5;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-top: 1rem;
}

.reaction{
    color: #a6a6a6;
    font-family: 'Nunito';
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.reaction:hover{
    color: #f4863e;
}

.reaction:active{
    color: #f25662;
    transform: scale(0.95);
}

@media only screen and (max-width: 450px){

    .seach-bar{
        display: none;
    }

    .dropdown-content{
        position: absolute;
        top: 40px; 
        width: 100vw; 
        min-width: 100vw;
        background-color: #f2f2f2;
        padding: 20px 10px;
        box-sizing: border-box;
        z-index: 1;
    }

    .dropdown-content a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

}