.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-image: var(--gray-bg2);
    padding: 0 30px;
    box-shadow: 0 4px 15px rgba(14, 14, 14, 0.109);
    position: relative;
    
}

.nav-title{
    line-height: 50px;
    font-family: 'Cocomat Pro Bold';
    float: left;
    padding-right: 2rem;
    font-size: 15pt;
    color: var(--orange);
}

.nav-elements{
    display: flex;
    gap: 30px;
    line-height: 50px;
}

.navbar ul li{
    color: var(--orange);
    font: 'Open Sans';
    font-weight: bold;

    & a {
        color: var(--orange);
        font-weight: bold;
    }
}

.icon-menu {
    width: 25px;
    height: 20px;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .icon-menu span {
    display: relative;
    height: 2px;
    width: 100%;
    background: var(--orange);
  }

#dropdownMenu {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    background-color: var(--gray-bg2);
    padding: 20px 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.164);
    min-width: 260px;
    height: 190px;
    top: 100%;
    right: 0;
    z-index: 1;
  }

  #containerMenu{
    display: none;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    gap: 3rem;
    position: absolute;
    background-color: var(--gray-bg2);
    padding: 20px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
    width: 17%;
    height: 200px;
    top: 100%;
    left: 0%;
    z-index: 1;

    & .menu-op a{
        color: var(--orange);
        font-weight: bold;
    }
  }

#icon2:active #barra2 {
    display: none;
}

.mn-part1{
    width: 100%;
    display: flex;
    flex-direction: column;

    & .name-account, .email-account, .perfil-account {
        font-weight: bold;
        margin: -1rem 0;
        font-family: 'Cocomat Pro Bold';
    };

    & .email-account{
        color: #2c2f2c;
        font-family: 'Nunito Regular';
    }

    & .email-account, .perfil-account{
        font-size: 9pt;
    }

    & .perfil-account{
        color: #ff7f00;
    }
}

.email-account{
    color: #2c2f2c;
    font-family: 'Nunito Regular';
}

.foto-perfil{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.mn-part2{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    & ul li{
        margin: -1rem 0;
        margin-left: 10px;

        & a{
            color: #708372;
            font-family: 'Cocomat Pro Bold';
            font-size: 14px;
        }
    }
}

@media (max-width: 600px){

    #dropdownMenu {
        height: 99vh;
        min-width: 100px;
        left: 40%;
        gap: 2rem;
      }

    #containerMenu{
        width: 100%;
        gap: 0;
        justify-content: space-around;
        height: 200px;
        padding-bottom: 3rem;

        & li a{
            font-size: 14pt;
        }
    }
}