.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-image: var(--gray-bg2);
    padding: 0 30px;
    box-shadow: 0 8px 20px rgb(197, 197, 197);
    
}

.nav-title{
    line-height: 50px;
    font-family: 'Cocomat Pro Bold';
    float: left;
    padding-right: 2rem;
    font-size: 15pt;
    color: var(--orange);
}

.icon-menu {
    width: 25px;
    height: 20px;
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .icon-menu span {
    display: block;
    height: 2px;
    width: 100%;
    background: var(--orange);
  }

#dropdownMenu {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    background-color: var(--gray-bg2);
    padding: 20px 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.164);
    min-width: 260px;
    height: 190px;
    right: 0%;
    top: 7.5%;
    z-index: 1;
  }



.nav-responsive{
    display: none;
    justify-content: center;
    align-items: center;
        & a{
            line-height: 50px;
            color: var(--orange);
            font-family: 'Cocomat Pro Bold';
        }
  }

  #containerMenu{
    display: none;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    gap: 3rem;
    position: absolute;
    background-color: var(--gray-bg2);
    padding: 20px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.164);
    width: 17%;
    height: 300px;
    left: -1%;
    top: 7.5%;
    z-index: 1;

    & .menu-op a{
        color: var(--orange);
        font-weight: bold;
    }
  }

  .nav-responsive.active .content-responsive {
    display: block;
}

  .dropdown li {
    margin: 10px 0;
  }
  
  .dropdown li a {
    color: #333;
    text-decoration: none;
  }

.mn-part1{
    width: 100%;
    display: flex;
    flex-direction: column;

    & .name-account, .email-account, .perfil-account {
        font-weight: bold;
        margin: -1rem 0;
        font-family: 'Cocomat Pro Bold';
    };

    & .email-account{
        color: #2c2f2c;
        font-family: 'Nunito Regular';
    }

    & .email-account, .perfil-account{
        font-size: 9pt;
    }

    & .perfil-account{
        color: #ff7f00;
    }
}

.email-account{
    color: #2c2f2c;
    font-family: 'Nunito Regular';
}

.foto-perfil{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.mn-part2{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    & ul li{
        margin: -1rem 0;
        margin-left: 10px;

        & a{
            color: #708372;
            font-family: 'Cocomat Pro Bold';
        }
    }
}

@media (max-width: 600px){
    #nav-elements-web{
        display: none;
    }

    .nav-responsive{
        display: flex;
    }

    #dropdownMenu {
        height: 99vh;
        min-width: 100px;
      }
}