.main-perfil{
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    contain: layout;
}

.main-right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    gap: 12px;
    margin-right: 0.5rem;
}

.icon-profile{
    margin-top: -72px;
    margin-bottom: 5px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f7f1f1;
    border: 1px solid var(--gray-border);
}

.name-profile{
    font-size: 14pt;
}

.info-perfil{
    width: 100%;
    height: 50px;
    border-top: 1px solid var(--gray-border);
}

.perfil-containt{
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    background-color: #f7f1f1;
    box-shadow: 0 5px 15px 1px rgb(215, 215, 215)
}

.header-perfil{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to right, #f2f2f2 #d3d3d3);
}

.itens-salvos{
    width: 350px;
    padding-bottom: 20px;
    background-color: #ffff;
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px rgb(215, 215, 215)
}

.title-itens{
    width: 100%;
    border-bottom: 5px solid var(--gray-bg);
}

.title-itens h4{
    padding:  1rem 1rem 0.5rem 1rem;
    color: #708372;
    font-size: var(--large);
    font-family: 'Open Sans';
}

.elementos-salvos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
    
}

.ver-tudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 35px;
}

.ver-tudo a{
    color: var(--orange);
    font-size: var(--medium);
    transition: color 0.5s ease;
}

.ver-tudo a:hover{
    color: var(--red)
}

.item-colecao{
    display: flex;
    width: 100%;
    height: 40px;
    margin-left: 2rem;
    gap: 10px;
}

.item-colecao p{
    line-height: 40px;
}


.icon-colecao{
    width: 40px;
    height: 40px;
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: var(--xlarge);
    text-align: center;
    line-height: 40px;
}

.menu-perfil{
    width: 760px;
    height: 40px;
    background-color: white;
    border: 1px solid var(--gray-border);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 10px 1px #d7d7d7
}

.option-menu{
    font-family: 'Open Sans';
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #2c2f2c;

}

.feed-profile{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
}

.postagens{
    width: 710px;
    min-height: 200px;
    max-height: 550px;
    background-color: white;
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    padding: 1.5rem;
    box-shadow: 0 3px 10px 1px rgb(215, 215, 215);
}

.autor-post{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.autor{
    color: var(--red);
    font-family: 'Nunito';
    font-weight: bold;
}

.horario{
    color: #708372;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: var(--small);
}

.options-post{
    font-family: 'Open Sans';
    font-weight: bold;
    color: #a6a6a6;
    font-size: var(--large);
}

.corpo-post{
    padding: 0 1rem;
    padding-bottom: 2rem;
}

.corpo-post p{
    font-family: 'Nunito';
    font-weight: bold;
    color: #2c2f2c;
}

.reactions-post{
    border-top: 3px solid #f2f5f5;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding-top: 1rem;
}

.reaction{
    color: #a6a6a6;
    font-family: 'Nunito';
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.reaction:hover{
    color: var(--orange);
}

.reaction:active{
    color: var(--red);
    transform: scale(0.95);
}


.flex-1{
    display: flex;
    gap: 2.5rem; margin: 0 0 0 65px;
}

.flex-2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 60%;
}

@media (max-width: 1200px){
    .perfil-containt{
        flex-direction: column;
        align-items: center;
    }

    .flex-1{
        flex-direction: column;
        align-items:center;
        gap: 0;
        margin: 0;
        justify-content: center;
    }

    .flex-2{
        width: 100%;
    }
}