@font-face {
    font-family: 'Cocomat Pro Regular';
    src: url('../fonts/Cocomat.Pro/CocomatPro-Regular.ttf');
    }

@font-face {
    font-family: 'Cocomat Pro Bold';
    src: url('../fonts/Cocomat.Pro/CocomatPro-Bold.ttf');
    }
    
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
    }
    
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
    }


/* Variáveis Globais*/
:root{
    /* Colors */
    --yellow: #e3b055;
    --orange: #f4863e;
    --gray-border: #cdcccc;
    --red: #f86d68;
    --gray-bg: #f2f5f5;

    /* Texts */

    --small: 1vh;
    --medium: 1.5vh;
    --large: 2.0vh;
    --xlarge: 2.5vh;

    /* Margins Paddings*/

    --margin-small: 1.6vh; /* 1rem */
    --margin-medium: 0.8vh; /* 0.5rem */
    --margin-negative-large: -7.2vh; /* -72px */
    --margin-large: 2vh; /* 20px */
    --margin-xmedium: 3.2vh; /* 2rem */
    --margin-negative-medium: -1.2vh; /* -12px */
    --margin-right-large: 3.5vh; /* 35px */
    --margin-small-medium: 1vh; /* 10px */
    --margin-xsmall: 0.5vh; /* 5px */
    --padding-medium: 2.4vh; /* 1.5rem */
    --padding-small: 4vh; /* 40px */
    --height-small: 20vh; /* 200px */
    --height-large: 55vh; /* 550px */
    --height-xlarge: 10vh; /* 100px */
    --padding-small-small: 0.3vh; /* 3px */

}

/*  Global Styles */
    
*{
    margin: 0;
    padding: 0%;
    list-style: none;
    font-family: 'Nunito';
    text-decoration: none;
    color: black;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--gray-bg);
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
}