.feed-section{
    display: flex;
    align-items: center; flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding-top: 20px;
}

.lg{
    width: 50%;
}

.sm{
    width: 25%;
    align-items: flex-start;
    padding-left: 30px;
    

    & h4{
        color: #708372;
        text-align: left;
        padding-top: 1rem;
    }
}

.news h4{
    font-weight: normal;
    font-size: 11px;
}

.news p{
    font-weight: bold;
    font-size: 16px;
}

.suggested-accounts{
    display: flex;
    width: 230px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    & .autor{
        width: 100%;
        font-size: 9pt;
    }
}

.icon-profile-mini{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}