.main-perfil{
    margin: 1.6vh;
    padding: 1rem;
    min-height: 100vh;
    box-sizing: border-box;
    contain: layout;
}

.main-left{
    align-items: center;
    justify-content: center;
    width: 40%;
}

.main-right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    gap: 12px;
    margin-right: 0.8vh;
}

.icon-profile{
    margin-top: -75px;
    margin-bottom: 0.5vh;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #f7f1f1;
    border: 1px solid var(--gray-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-profile img{
    width: 85px;
    height: 85px;
    border-radius: 100%;
    object-fit: cover;
}

.name-profile{
    font-size: 13pt
}

.info-perfil{
    width: 100%;
    border-top: 1px solid var(--gray-border);
}

.perfil-containt{
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    background-color: #f7f1f1;
    box-shadow: 0 5px 15px 1px rgb(215, 215, 215)
}

.header-perfil{
    width: 100%;
    height: 100px;
}

.header-image{
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
}

.itens-salvos{
    width: 350px;
    padding: 2vh;
    background-color: #ffff;
    border: 1px solid var(--gray-border);
    border-radius: 20px;
    box-shadow: 3px 3px 10px 1px rgb(215, 215, 215);
    flex-shrink: 1;
}

.title-itens{
    width: 100%;
    border-bottom: 5px solid var(--gray-bg);
}

.title-itens h4{
    padding:  1rem 1rem 0.5rem 0.5rem;
    color: #708372;
    font-size: var(--large);
    font-family: 'Open Sans';
}

.elementos-salvos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.2vh;
    gap: 0.5rem;
    
}

.ver-tudo{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
}

.ver-tudo a{
    color: var(--orange);
    font-size: var(--large);
    transition: color 0.5s ease;
}

.ver-tudo a:hover{
    color: var(--red)
}

.item-colecao{
    display: flex;
    width: 100%;
    height: 40px;
    margin-left: 3.2vh;
    align-items: center;
    gap: 10px;
}

.item-colecao p{
    font-size: 11pt;
}


.icon-colecao{
    width: 35px;
    height: 35px;
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: var(--large);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-perfil{
    width: 90%;
    height: 40px;
    background-color: white;
    border: 1px solid var(--gray-border);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 3px 10px 1px #d7d7d7
}

.option-menu{
    font-family: 'Open Sans';
    font-weight: bold;
    width: 70%;
    text-align: center;
    color: #2c2f2c;

}

.feed-profile{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
}


.flex-1{
    display: flex;
    gap: 2.5rem; margin: 0 0 0 65px;
}

.flex-2{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 60%;
}

.flex-2 p{
    font-weight: bold; font-size: 12pt;
}


@media (max-width: 1200px){
    .perfil-containt{
        flex-direction: column;
        align-items: center;
    }

    .postagens{
        max-width: 330px;
        min-width: none;
        
    }

    .corpo-post p{
        font-size: 12pt;
    }

    .name-profile{
        font-size: var(--medium);
    }

    .flex-2 p{
        font-weight: bold; font-size: var(--medium);
    }

    .title-itens h4{
        font-size: 2vh;
    }

    .item-colecao{
        gap: 0.4rem;
    }

    .elementos-salvos{
        gap: 0.2rem;
    }

    .ver-tudo a{
        font-size: var(--medium);
    }
    .flex-1{
        flex-direction: column;
        align-items:center;
        gap: 0;
        margin: 0;
        margin-bottom: -12px;
        justify-content: center;
    }

    .flex-2{
        width: 100%;
    }

    .itens-salvos{
        width: 100%;
        border-radius: 0;
        margin-top: 5px;
    }

    .main-left{
        width: 100%;
        flex-direction: row;
    }

    .main-right{
        width: 100vh;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }

    .icon-colecao{
        width: 20px;
        height: 20px;
        font-size: 10px;
        border-radius: 5px;
        
    }


    .main-perfil{
        margin: 0;
        padding: 0;
    }

    .feed-profile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .post{
        width: 70%;
        max-width: 300px;
    }

    .menu-perfil{
        width: 350px;
    }
}
